@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

@font-face {
  font-family: 'SketchSolid';
  src: url('s.eot');
  src: url('s.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SketchOutline';
  src: url('o.eot');
  src: url('o.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  color: #16161D;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

  h1 {
    margin-top: 0.28em;
    margin-bottom: 0.28em;
  }

  p { margin: 1em 0; }

  a         { color: #16161D; }
  a:hover   { color: #16161D; }
  a:visited { color: #16161D; }

  table {
    font-size: inherit;
  }

  /*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: auto;
  line-height: 1.4em;
}

.header {
  margin-top:    1em;
  margin-bottom: 1.4em;
  position: relative;
}

.site .header a {
  text-decoration: none;
  display: inline;
  text-align: right;
}

.site .header a:hover{
    color: #2f4d87;
}

.site .header h1.title {
  width: 100%;
  display: inline;
  color: dimgray;
  font-size: 2.8em;
  font-style: normal;
  font-weight: 100;
}

.site .header h1.title a {
}

.site .header h1.title a:hover {
  color: #2f4d87;
}

.site .header h1.title a:visited {
  color: dimgray;
}

.site .header a.extra {
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #2f4d87;
}

.site .header div.subtitle {
  float: right;
  text-align: right;
  display: inline;
  bottom: 0;
  right: 0;
  position: absolute;
}

.site .meta {
  color: #2f4d87;
}

.site .date {
  color: #2f4d87;
  display: inline;
  text-align: right;
  float: right;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.site .post-header {
  margin-bottom: 1em;
}

.site .post-title {
  display: inline;
  font-size: 21px;
  text-decoration: none;
}

.site .post-title a:hover {
  color: #2f4d87;
}



.site .footer {
  font-size: 80%;
  color: #004d99;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.sketch-solid {
  font-family: "SketchOutline";
  color: dimgray;
}

.sketch-outline {
  font-family: "SketchOutline";
  color: lightgray;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  line-height: 1.4em;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #002b36;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #002b36;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #002b36;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #002b36;
}

.line-data {
  background-color: #002b36;
}

.underline {
  border-bottom: 1px solid black;
}

.clear {
  clear: both;
}
